@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* UNIVERSAL OPTIONS START */
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
      text-decoration: none;
      border: none;
      font-family: 'Open Sans', sans-serif;
}
/* UNIVERSAL OPTIONS END */

/* CUSTOM SPECIFIERS START */
.menu-text-secondheader {
      margin-bottom: 10px;
      color: rgb(86, 52, 124);
      font-weight: 400;
      font-size: 1.5rem;
}

.footer-bold-text {
      margin-bottom: 10px;
      color: rgb(86, 52, 124);
      font-weight: bold;
      font-size: 1rem;
}
/* CUSTOM SPECIFIERS END */

/* HTML START */
html {
      scroll-behavior: smooth;
}
/* HTML END */

/* BODY START */
body {
      margin-right: auto;
      margin-left:  auto;
      max-width: 1010px;
      background: url(Images/PNG/Background.png);
}
/* BODY END */

/* HEADER START */
header {
      background-color: rgb(86, 52, 124);
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

header .header-inputs {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

header .header-inputs .search-input-div #duckduckgo-search-textbox {
      margin-bottom: 10px;
      width: 208px;
      height: 38px;
      padding: 8px 15px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      font-size: 1rem;
      background: rgb(255, 255, 255);
      box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
      color: rgb(86, 52, 124);
      font-weight: bold;
}

header .header-inputs .search-input-div {
      display: flex;
      justify-content: center;
      align-items: center;
}

header .header-inputs .search-input-div #duckduckgo-search-textbox::placeholder {
      color: rgb(86, 52, 124);
      font-weight: bold;
      font-size: 1rem;
}

header .header-inputs .search-input-div #search-duckduckgo-button {
      padding: 10px;
      margin-bottom: 10px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      background: rgb(255, 255, 255);
      box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
}

header .header-inputs #donate-button {
      margin-top: 10px;
      background: rgb(255, 255, 255);
      padding: 10px 14px;
      width: 246px;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
      height: 38px;
      color: rgb(86, 52, 124);
      font-size: 1rem;
      box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
}
/* HEADER END */

/* NAV START */
nav {
      padding: 10px 20px;
      background-color: rgb(255, 255, 255);
      border-bottom: 1px solid rgb(235, 235, 235);
      box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
}

nav ul li {
      display: inline;
      margin-right: 20px;
}

nav ul li a {
      font-weight: bold;
      padding: 5px 0px;
}

nav ul li a:hover {
      border-bottom: 5px solid rgba(86, 52, 124, 0.7);
}

nav ul li a:active {
      color: rgb(86, 52, 124);
}

nav ul li .selected-page {
      border-bottom: 5px solid rgb(86, 52, 124);
      cursor: default;
}

nav ul li .selected-page:hover {
      border-bottom: 5px solid rgb(86, 52, 124);
}
/* NAV END */

/* LANGUAGE DIV START */
.language-div {
      padding: 0px 20px;
      background-color: rgb(255, 255, 255);
}

.language-div ul {
      display: flex;
      justify-content: right;
      align-items: center;
}

.language-div ul li button {
      font-size: 1rem;
      padding: 6px 10px;
      cursor: pointer;
      background-color: rgb(255, 255, 255);
}

.language-div ul li button:hover {
      border-bottom: 3px solid rgb(86, 52, 124, 0.7);
}

.language-div ul li #language-button-en {
      background-color: rgb(238, 238, 238);
      border-bottom: 3px solid rgb(86, 52, 124);
}
/* LANGUAGE DIV END */

/* MAIN START */
main {
      background-color: rgb(255, 255, 255);
      padding: 10px 20px;
}
/* MAIN END */

/* TAILS INTRODUCTION DIV START */
.tails-introduction-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
}

.tails-introduction-text {
      max-width: 600px;
      margin-left: 40px;
}

.tails-introduction-text h1 {
      color: rgb(86, 52, 124);
      font-size: 2.5rem;
}

.tails-introduction-text p {
      font-size: 1.5rem;
}
/* TAILS INTRODUCTION DIV END */

/*TAILS ABOUT-INTRO DIV START */
.tails-about-intro-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 50px;
}

.tails-about-intro-div .tails-intro-box-div {
      display: flex;
      flex-direction: column;
      max-width: 420px;
}

.tails-about-intro-div .tails-intro-box-div img {
      margin-bottom: 30px;
}

.tails-about-intro-div .tails-intro-box-div h3 {
      margin-bottom: 20px;
      font-weight: 400;
      color: rgb(86, 52, 124);
}
/*TAILS ABOUT-INTRO DIV END */

/* TAILS BUTTON DIV START */
.tails-button-div {
      margin-bottom: 50px;
}

.tails-button-div ul {
      display: flex;
      justify-content: space-between;
}

.tails-button-div ul li a {
      display: block;
      background-color: rgb(255, 255, 255);
      box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
      padding: 20px;
      border-radius: 8px;
      width: 420px;
      text-align: center;
      font-size: 1.3rem;
      font-weight: bold;
      color: rgb(86, 52, 124);
      transition: 0.2s all ease;
}

.tails-button-div ul li a:hover {
      box-shadow: inset 0px 0px 100px 0px rgb(86, 52, 124);
      -moz-box-shadow: inset 0px 0px 100px 0px rgb(86, 52, 124);
      -webkit-box-shadow: inset 0px 0px 100px 0px rgb(86, 52, 124);
      transition: 0.2s all ease;
}
/* TAILS BUTTON DIV END */

/* TAILS NEWS DIV START */
.tails-news-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
}

.tails-news-div div a {
      color: rgb(86, 52, 124);
      font-weight: bold;
}

.tails-news-div div a:hover {
      border-bottom: 3px solid rgb(86, 52, 124, 0.7);
}
/* TAILS NEWS DIV END */

/* WHO USES TAILS DIV START */
.who-uses-tails-div {
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
}

.who-uses-tails-div div {
      max-width: 200px;
}

.who-uses-tails-div div img {
      margin-bottom: 20px;
}

.who-uses-tails-div div h4 {
      margin-bottom: 20px;
      font-size: 1.1rem;
      color: rgb(86, 52, 124);
}

.who-uses-tails-div div p {
      font-size: 1rem;
}
/* WHO USES TAILS DIV START */

/* FOOTER START */
footer {
      background-color: rgb(255, 255, 255);
      padding: 10px 20px;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid rgb(235, 235, 235);
}
/* FOOTER END */